---
import SocialButton from "../components/SocialButton.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Roberto Montufar</title>
	</head>
	<body
		class="h-screen bg-gradient-to-tr from-[#1A1729] to-[#2A233E] overflow-y-scroll overflow-x-hidden no-scrollbar">
		<div class="grid bg-[url('./src/assets/noise.svg')] h-full w-full -z-50">
			<SocialButton
				iconParameters={{
					iconUrl: "https://github.com/RobertoMont31",
					ariaLabel: "Link to Roberto's Github Profile",
					iconTitle: "Roberto's Github Profile",
					iconName: "GitHub Icon",
					iconTooltipText: "Roberto's Github Profile",
					iconSrc: "linkedin",
				}}
			/>
		</div>
	</body>
</html>
