---
import Navbar from "../components/Navbar.astro";
import MobileMenu from "../components/MobileMenu.astro";
import "@fontsource/chakra-petch";
import "@fontsource/kodchasan";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="./src/icons/axolotl.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Roberto Montufar</title>
	</head>
	<body
		class="h-screen bg-gradient-to-tr from-[#1A1729] to-[#2A233E] overflow-y-scroll overflow-x-hidden no-scrollbar">
		<div
			class="absolute bg-cover h-full w-full" style="background-image: url(./src/assets/noise.svg)">
			<main class="md:mx-[10%]">
				<header class="flex-grow h-fit">
					<MobileMenu />
					<Navbar />
				</header>
			</main>
		</div>
	</body>
</html>
