---
import type { HTMLAttributes } from "astro/types";

//Inerface to pass values from component invocation
interface Props extends HTMLAttributes<"div"> {
	twImageClasses?: string;
	isParallax?: true | false;
	twContainerClasses?: string;
	src?: string;
	alt?: string;
}

//Default values for component
const {
	twImageClasses = "",
	isParallax = false,
	twContainerClasses = "",
	alt = "This is an 3D avatar of Roberto",
	src = "roberto-avatar-nobg.webp",
	...rest
} = Astro.props;
---

<div id="tiltElement" class={`${twContainerClasses}`} {...rest}>
	<img src={src} alt={alt} loading={"eager"} class={`${twImageClasses}`} />
</div>
