---
import type { HTMLAttributes } from "astro/types";

//Inerface to pass values from component invocation
interface Props extends HTMLAttributes<"div"> {
	twImageClasses?: string;
	isParallax?: true | false;
	twContainerClasses?: string;
	src?: string;
	alt?: string;
}

//Default values for component
const {
	twImageClasses = "",
	isParallax = false,
	twContainerClasses = "flex end-8 place-content-center w-2/5 outline-double rounded-3xl outline-8 aspect-square outline-violet-100 transition-all duration-300 ",
	alt = "This is an 3D avatar of Roberto",
	src = "./src/images/roberto-avatar-nobg.png",
	...rest
} = Astro.props;
---

<div
	id="parallax-container"
	class={`${twContainerClasses}`}
	{...rest}>
	<img
		src={src}
		alt={alt}
        loading={"eager"}
		class={`${twImageClasses}`}
	/>
</div>
