<button
	id="hamburger"
	class="group place-content-center aspect-square bg-violet-100 bg-opacity-0 border border-transparent rounded-md hover:bg-opacity-20 hover:border-violet-100 transition-all duration-500 overflow-hidden"
	aria-expanded="false"
	aria-controls="nav-menu">
	<svg
		viewBox="-10 -10 120 120"
		class="w-6 stroke-violet-100 fill-violet-100 transition-all duration-[1s] origin-center group-aria-expanded:-translate-y-[5%] group-aria-expanded:translate-x-[5%] group-aria-expanded:rotate-45">
		<path
			class="[stroke-dasharray:60_31_60_300] transition-all duration-[1s] group-aria-expanded:[stroke-dasharray:60_105_60_300] group-aria-expanded:[stroke-dashoffset:-90]"
			fill="none"
			stroke-width="10"
			stroke-linecap="round"
			stroke-linejoin="round"
			d="m 20 40 h 60 a 1 1 0 0 1 0 20 h -60 a 1 1 0 0 1 0 -40 h 30 v 70">
		</path>
	</svg>
</button>
