---
import type { HTMLAttributes } from "astro/types";

//Inerface to pass values from component invocation
interface Props extends HTMLAttributes<"div"> {
	isParallax?: true | false;
	twContainerClasses?: string;
	twAccentClasses?: string;
	text?: string;
	accent?: string;
}

//Default values for component
const {
	isParallax = false,
	twContainerClasses = "",
	twAccentClasses = "",
	text = "",
	accent = "",
	...rest
} = Astro.props;
---

<div id="parallax-container" class={`${twContainerClasses}`} {...rest}>
	{text}
	<span class={`${twAccentClasses}`}>{accent}</span>
</div>
