---
import type { HTMLAttributes } from "astro/types";

//Inerface to pass values from component invocation
interface Props extends HTMLAttributes<"div"> {
	isParallax?: true | false;
	twContainerClasses?: string;
	twAccentClasses?: string;
	text?: any;
	id?: string;
}

//Default values for component
const {
	isParallax = false,
	twContainerClasses = "",
	twAccentClasses = "",
	text = "Hi, I'm, Roberto",
	id = "",
	...rest
} = Astro.props;
---

<div id={`${id}`} class={`${twContainerClasses}`} {...rest}>
	{text.map((i) => <p id="stagger-container" class={`${twAccentClasses}`}>{i}</p>)}
</div>
