---
const {buttonText} = Astro.props
import Icon from "astro-icon";
---
<div class="">
    <span class="font-chakra font-extrabold text-white"><Icon class="inline-flex w-6 align-top" name="item"/> {buttonText}</span>
</div> 
