---
const {buttonText} = Astro.props
import Icon from "astro-icon";
---
<div class="pl-8 group">
    <span class="font-chakra font-extrabold text-white">
        <Icon class="inline-flex w-6 align-top group-hover:animate-breathing" name="item"/> {buttonText}
    </span>
</div> 
