---
import Logo from "../components/Logo.astro";
import MobileMenuButton from "./MobileMenuButton.astro";
import HamButton from "./HamButton.astro";
---

<div>
	<div class="fixed top-4 right-6 z-[9999]">
		<HamButton />
	</div>
	<div class="fixed md:hidden top-2 left-2 z-[9999]">
		<Logo
			ariaLabel="Roberto Montufar"
			iconTitle="Roberto Montufar"
			iconSrc="axolotl"
		/>
	</div>
	<div
		id="nav-menu"
		class="flex md:hidden w-full h-screen fixed left-1/4 place-self-end bg-violet-100 bg-opacity-10 backdrop-blur-sm z-[9998] duration-500 origin-right scale-x-0">
		<ul class="flex flex-col pt-[min(20vh,_10rem)] w-full space-y-3">
			<li  class="hover:[box-shadow:inset_0px_0px_10px_5px_#1A1729] transition-all duration-1000">
				<a href="#">
					<MobileMenuButton buttonText="About Me" />
				</a>
			</li>
			<li class="hover:[box-shadow:inset_0px_0px_10px_5px_#1A1729] transition-all duration-1000">
				<a href="#">
					<MobileMenuButton buttonText="Experience" />
				</a>
			</li>
			<li class="hover:[box-shadow:inset_0px_0px_10px_5px_#1A1729] transition-all duration-1000">
				<a href="#">
					<MobileMenuButton buttonText="Knowledge" />
				</a>
			</li>
		</ul>
	</div>
</div>

<script>
	const navMenu = document.getElementById("nav-menu");
	const hamButton = document.getElementById("hamburger");

	hamButton?.addEventListener("click", () => {
		const isOpened = hamButton.getAttribute("aria-expanded");

		if (isOpened === "false") {
			hamButton.setAttribute("aria-expanded", "true");
			navMenu?.classList.toggle("scale-x-0");
		} else {
			hamButton.setAttribute("aria-expanded", "false");
			navMenu?.classList.toggle("scale-x-0");
		}
	});
</script>
