---
import Logo from "../components/Logo.astro";
import NavButton from "./NavButton.astro";
---

<div>
	<div class="fixed mt-3 ml-3">
		<Logo
			ariaLabel="Roberto Montufar"
			iconTitle="Roberto Montufar"
			iconSrc="robot"
		/>
	</div>
	<div
		class="flex lg:hidden w-full h-screen fixed left-1/4 place-self-end bg-violet-400">
		<ul class="flex place-self-end space-x-3 px-3">
			<li>
				<a href="">
				</a>
			</li>
			<li>
				<a href="">
				</a>
			</li>
			<li>
				<a href="">
				</a>
			</li>
		</ul>
	</div>
</div>
