---
const { buttonText } = Astro.props;
---
<div
	class="group relative flex place-content-center h-10 xl:h-14 max-w-fit py-1.5 px-2.5 transition-all bg-violet-100 shadow-lg shadow-violet-100/30 border rounded-lg">
    <span class="absolute self-center w-[65%] h-[75%] rounded-lg bg-violet-100 -z-10 group-hover:animate-ping"></span>
	<span class="text-sm whitespace-nowrap font-chakra font-extrabold xl:text-xl decoration-dashed decoration-auto underline-offset-4 place-self-center group-hover:underline">
        {buttonText}
    </span>
</div>
