---
import Logo from "./Logo.astro";
import NavButton from "./NavButton.astro";
---
<nav class="flex w-full h-20">
    <Logo class="order-first" iconParameters={{
					ariaLabel: "Roberto Montufar",
					iconTitle: "Roberto Montufar",
					iconSrc: "robot",
				}}
    />
	<ul class="flex items-end">
		<li>
			<a>
				<NavButton buttonText="About Me" />
			</a>
		</li>
		<li>
			<a>
				<span> Experience</span>
			</a>
		</li>
		<li>
			<a>
				<span> Knowledge</span>
			</a>
		</li>
	</ul>
</nav>
