---
import Logo from "./Logo.astro";
import NavButton from "./NavButton.astro";
import SocialButton from "./SocialButton.astro";
---

<nav class="hidden lg:flex h-16 xl:h-20 mt-8">
	<Logo
			ariaLabel ="Roberto Montufar"
			iconTitle = "Roberto Montufar"
			iconSrc = "axolotl"
	/>
	<div class="flex-grow"></div>
	<ul class="flex place-self-end space-x-3 px-3">
		<li>
			<a href="">
				<NavButton buttonText="About Me" />
			</a>
		</li>
		<li>
			<a href="">
				<NavButton buttonText="Experience" />
			</a>
		</li>
		<li>
			<a href="">
				<NavButton buttonText="Knowledge" />
			</a>
		</li>
	</ul>
    <div class="flex place-self-end space-x-3">
	<SocialButton
			iconUrl = "https://github.com/RobertoMont31"
			ariaLabel = "Link to Roberto's Github Profile"
			iconTitle = "Roberto's Github Profile"
			iconName = "GitHub Icon"
			iconTooltipText = "Roberto's Github Profile"
			iconSrc = "github"
		/>
	<SocialButton
			iconUrl = "https://www.linkedin.com/in/roberto-montufarar"
			ariaLabel = "Link to Roberto's LinkedIn Profile"
			iconTitle = "Roberto's LinkedIn Profile"
			iconName = "LinkedIn Icon"
			iconTooltipText = "Roberto's LinkedIn Profile"
			iconSrc = "linkedin"
		/>
    </div>
</nav>
