---
import Logo from "./Logo.astro";
---
<nav class="flex">
    <Logo iconParameters={{
					ariaLabel: "Roberto Montufar",
					iconTitle: "Roberto Montufar",
					iconSrc: "robot",
				}}
    />
	<ul class="flex">
		<li>
			<a>
				<span>Logo</span>
			</a>
		</li>
		<li>
			<a>
				<span> About me</span>
			</a>
		</li>
		<li>
			<a>
				<span> Experience</span>
			</a>
		</li>
		<li>
			<a>
				<span> Knowledge</span>
			</a>
		</li>
	</ul>
</nav>
