---
import Avatar from "../components/Avatar.astro";
import HeroTitle from "../components/HeroTitle.astro";
---

<div class="flex flex-row items-center w-full h-screen">
    <Avatar />
    <HeroTitle />
</div>